@import '../../shared/styles/variables.scss';
#navbar {
    background-color: #F6EDD5;
    font-family: 'Coiny', sans-serif;
    font-weight: normal;
    z-index: 2;
    #logo {
        color: $color-brown;
        font-weight:900;
        font-size: 1.5rem;
        line-height: 1.5rem;
        span {
            display: block;
        }
    }
}